In [1]:
import pandas as pd

In [5]:
df = pd.read_csv('PDA_UNIDADES_RF_EPCT_CSV (1).csv', sep = ';',encoding = 'cp1252') 
#encodiing padrão para arquivos que eram do excel

df.head()

,CODIGO_UNIDADE,NOME_UNIDADE,DT_AUTORIZA_FUNCIONA_UNID,NOME_REGIAO_UNIDADE,SIGLA_UF_UNIDADE,NOME_MUNICIPIO_UNIDADE,NOME_MESORREGIAO_UNIDADE,NOME_MICRORREGIAO_UNIDADE
0,2879,INSTITUTO FEDERAL DA BAHIA - CAMPUS EUNÁPOLIS,07-01-2009,Nordeste,BA,Eunápolis,Sul Baiano,Porto Seguro
1,2948,INSTITUTO FEDERAL BAIANO - CAMPUS ITAPETINGA,07-01-2009,Nordeste,BA,Itapetinga,Centro Sul Baiano,Itapetinga
2,14328,INSTITUTO FEDERAL DO ACRE - CAMPUS SENA MADUREIRA,30-12-2008,Norte,AC,Sena Madureira,Vale do Acre,Sena Madureira
3,14547,INSTITUTO FEDERAL DE ALAGOAS - CAMPUS ARAPIRACA,06-07-2010,Nordeste,AL,Arapiraca,Agreste Alagoano,Arapiraca
4,32010,INSTITUTO FEDERAL DE ALAGOAS - CAMPUS CORURIPE,22-01-2014,Nordeste,AL,Coruripe,Leste Alagoano,São Miguel dos Campos

In [6]:
#quantas escolas tem no arquivo
df.count()

CODIGO_UNIDADE               618
NOME_UNIDADE                 618
DT_AUTORIZA_FUNCIONA_UNID    618
NOME_REGIAO_UNIDADE          618
SIGLA_UF_UNIDADE             618
NOME_MUNICIPIO_UNIDADE       618
NOME_MESORREGIAO_UNIDADE     618
NOME_MICRORREGIAO_UNIDADE    618
dtype: int64

In [8]:
#quantas escolas têm por Estado
df['SIGLA_UF_UNIDADE'].value_counts()

MG    67
RS    45
RJ    39
SC    36
SP    35
PR    35
BA    34
MA    27
CE    27
GO    26
PI    23
PE    23
RN    23
ES    22
PB    21
PA    20
MT    19
AL    16
AM    15
MS    11
DF    11
TO    11
SE     8
RO     8
AC     6
RR     6
AP     4
Name: SIGLA_UF_UNIDADE, dtype: int64